@font-face {
  font-family: "MTS Text";
  src: url("fonts/mts-text-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MTS Text";
  src: url("fonts/mts-text-medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "MTS Text";
  src: url("fonts/mts-text-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "MTS Text";
  src: url("fonts/mts-text-black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
